<div class="p-3">
  <h1>Рецепт №{{recipeId}}</h1>
  <p>Дата окончания действия рецепта: <b>{{recipe?.validityPeriod}}</b></p>
  <p>ФИО пациента: <b>{{recipe?.sNamePat}} {{recipe?.namePat}} {{recipe?.tNamePat}}</b></p>
  <p>Дата рождения пациента: <b>{{recipe?.agePat}}</b></p>

  <ng-container *ngIf="status==='notValidity'">
    <p><b>Рецепт более не действителен</b></p>
  </ng-container>

  <ng-container *ngIf="status==='fullReleased'">
    <p><b>По рецепту больше нельзя выдать ни одного препарата</b></p>
  </ng-container>

  <ng-container class="mt-1" *ngIf="status === 'valid'">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Название препарата</th>
          <th>Доступное для отпуска количество препарата</th>
          <th>Количество списываемых препаратов</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let medicament of medicaments">
          <tr class="align-text-center">
            <td class="align-middle">{{medicament.medicamentName}}</td>
            <td class="align-middle">{{medicament.remainsCount}}</td>
            <td>
              <input
                [disabled]="medicament.remainsCount === 0"
                [(ngModel)]="medicament.debitedCount"
                (change)="validate()"
                class="form-control"
                type="number"
              >
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="checkOut()" [disabled]="!valid">Списать препараты</button>
  </ng-container>
  <div class="mt-1">
    <button class="btn btn-primary" (click)="back()">Назад</button>
  </div>
</div>
