<div class="p-1">
  <h1>Выписка рецепта</h1>
  <div class="border">
    <form  [formGroup]="reactiveForm" (ngSubmit)="test()" class="p-3 needs-validation row g-3">

      <div class="col-md-4">
        <label for="PatientF" class="form-label">Фамилия пациента</label>
        <input [readonly]="readonly" type="text" class="form-control" id="PatientF" value="Иванов" formControlName="sNamePat" required>
      </div>
      <div class="col-md-4">
        <label for="PatientN" class="form-label">Имя пациента</label>
        <input [readonly]="readonly" type="text" class="form-control" id="PatientN" value="Иван" formControlName="namePat" required>
      </div>
      <div class="col-md-4">
        <label for="PatientO" class="form-label">Отчество пациента</label>
        <input [readonly]="readonly" type="text" class="form-control" id="PatientO" formControlName="tNamePat" value="Иванович">
      </div>

      <div class="col-md-4">
        <label for="PatientBirthday" class="form-label">Дата рождения пациента</label>
        <input [readonly]="readonly" type="date" class="form-control" id="PatientBirthday" formControlName="agePat" required>
      </div>
      <div class="col-md-5">
        <label for="PatientEmail" class="form-label">Электронная почта пациента*</label>
        <input [readonly]="readonly" type="email" placeholder="Необязательное поле" class="form-control" formControlName="email" id="PatientEmail"
        [style.border-width]="reactiveForm.invalid.valueOf()">
      </div>

      <div class="col-md-4">
        <label for="MedicF" class="form-label">Фамилия врача</label>
        <input [readonly]="readonly" type="text" class="form-control" id="MedicF" value="Иванов" formControlName="sNameMed" required>
      </div>
      <div class="col-md-4">
        <label for="MedicN" class="form-label">Имя врача</label>
        <input [readonly]="readonly" type="text" class="form-control" id="MedicN" value="Иван" formControlName="nameMed"  required>
      </div>
      <div class="col-md-4">
        <label for="MedicO" class="form-label">Отчество врача</label>
        <input [readonly]="readonly" type="text" class="form-control" id="MedicO" formControlName="tNameMed" value="Иванович">
      </div>

      <div class="col-md-4">
        <label for="EndDateRecipe" class="form-label">Дата окончания действия рецепта</label>
        <input [readonly]="readonly" type="date" class="form-control" id="EndDateRecipe" formControlName="validityPeriod" required>
      </div>

      <app-medicaments-list [readonly]="readonly" #medicamentList></app-medicaments-list>
      <button type="button" class="btn btn-danger col-md-4" style="margin-right: 10px" (click)="back()">Назад</button>
      <button type="submit" *ngIf="fileUrl===undefined" [disabled]="reactiveForm.invalid || !medicamentList.required" class="btn btn-primary col-md">Выписать рецепт</button>
      <button type="button" *ngIf="fileUrl!==undefined" (click)="printRecipe()" class="btn btn-primary col-md">Распечатать рецепт</button>
    </form>
  </div>
</div>
