<div class="wrapper" style="padding-top: 25%">
  <button class="btn btn-primary" style="margin-right: 10px" (click)="medicAuth()">Войти как врач</button>
  <button class="btn btn-primary" style="margin-left: 10px" (click)="apothecaryAuth()">Войти как аптекарь</button>
</div>
