<div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Название препарата</th>
      <th>Количество упаковок</th>
      <th style="width: 100px"></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let recipeMedicament of recipeMedicaments">
      <tr>
        <th>
          <select #medsel class="form-select" [disabled]="readonly" (change)="selectMedicament(recipeMedicament, $event)">
            <option>Выберите препарат...</option>
            <ng-container *ngFor="let medicament of mediaments">
              <option
				value={{medicament.id}}
                *ngIf="recipeMedicament.medicament == medicament || !medicament.selected"
              >{{medicament.name}}</option>
            </ng-container>
          </select>
        </th>
        <td>
          <input type="number" [readonly]="readonly" [(ngModel)]="recipeMedicament.count" (change)="validate()" class="form-control" placeholder="Введите количество упаковок" required>
        </td>
        <td>
          <button class="btn btn-danger" [disabled]="recipeMedicaments.length === 1 || readonly" (click)="deleteMedicament(recipeMedicament)">Удалить</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <button type="button" [disabled]="readonly" class="btn btn-primary" (click)="addRecipeMedicament()">Добавить препарат</button>
</div>
